[submodule "Oberon-building-tools"]
	path = Oberon-building-tools
	url = git@github.com:andreaspirklbauer/Oberon-building-tools.git
[submodule "oberon-risc-emu"]
	path = oberon-risc-emu
	url = git@github.com:octave-syndicate/oberon-risc-emu.git
